@use '../variable' as *;

.advantages {

    * {
        color: color-black();
    }

    &__title {
        margin-bottom: 16px;
        color: color-white();
    }

    &__text {
        margin-bottom: 48px;
        color: color-white()
    }

    &-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
            "--grid-1 --grid-2"
            "--grid-3 --grid-3"
            "--grid-4 --grid-4"
            "--grid-5 --grid-6"; 
        gap: 26px;

        @include tablet {
            display: flex;
            flex-direction: column;
        }
    }

    &__block {
        padding: 10px 20px;
        background-color: #FFFEFD;
        justify-content: left;
        color: color-black();

        &--grid-1 { grid-area: --grid-1; }
        &--grid-2 { grid-area: --grid-2; }
        &--grid-3 { grid-area: --grid-3; }
        &--grid-4 { grid-area: --grid-4; }
        &--grid-5 { grid-area: --grid-5; }
        &--grid-6 { grid-area: --grid-6; }

        &-title{
            text-align: center;
            margin: 0 auto 16px auto;
        }

        &-text{
            padding-left: 24px;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &-image {
            border: 6px solid color-bodily() !important;
            position: relative;
            color: color-black();

            display: flex;
            align-items: center;

            transition: .4s ease;

            &:hover{
                background-color: color-bodily();
                cursor: pointer;
                *{color: color-black();}
            }

            @include laptop {
                padding: 16px;

                background-color: color-bodily();

                &:hover{
                    background-color: color-black();
                    cursor: pointer;
                    *{color: color-white();}
                }
            }

            &-woman {
                position: absolute;
                right: 0%;
                bottom: -19px;
                height: 100%;

                @include laptop {
                    display: none;
                }
            }

            &-background {
                position: absolute;
                height: 105%;
                right: -6px;
                bottom: -6px;
                border-radius: 0 0 36px 0;

                @include laptop {
                    display: none;
                }
            }

            &-text {
                text-align: center;
                justify-content: center;
                width: calc(100% - 160px);
                color: color-white();
                transition: .4s ease;

                @include laptop {
                    width: 100%;
                    color: color-black();
                }
            }

            @include phone {
                height: 150px;
            }

        }

    }

}