.certificates{
    &-title{
        margin-bottom: 64px;
        text-align: center;
    }

    .certificatesSlider{
        &-slider{
            width: 100%;
        }

        &-line{
            display: flex;
            gap: 32px;
            flex-wrap: nowrap;
            width: fit-content;
            height: auto;

            &--transition{
                transition: all 1s ease;
            }
        }

        &-item{
            border-radius: 6px;
            pointer-events: all;
            transition: .4s ease;

            &:hover{
                transform: scale(1.2);
            }
        }

        &-btn-prev, &-btn-next{
            display: none;
        }

        // &-shadow{
        //     position: absolute;
        //     bottom: 0;

        //     width: 40px;
        //     height: 100%;

        //     background: linear-gradient(90deg,rgb(0, 0, 0) 0%, rgba(255, 255, 255, 1) 100%);
        // }
    }
}