@use '../variable' as *;

.company{
    display: flex;
    flex-direction: row;

    @include laptopL{
        flex-direction: column-reverse;
        align-items: center;
        gap: 48px;
    }

    &__franch {
        position: relative;
        width: 650px;
        min-width: 650px;
        height: 400px;
        min-height: 400px;

        &::after {
            content: "А к р е д и т о в а н н а я ᠌ к о м п а н и я";
        
            display: block;
            position: relative;
            left: 50%;
            translate: -50% -20px;
            width: 90%;
        
            text-transform: uppercase;
            text-align: justify;
            text-align-last: justify;

            border-top: 1px solid #fff;
            padding-top: 8px;
            opacity: .3;
        }

        @include tablet{
            display: none;
        }

        &-background {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-mask {
            position: absolute;
            top: 0;
            left: 0;
            width: 650px;
            height: 400px;
        }
    }

    &__content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 16px;

        &-title{
            text-align: center;
        }

        &-text{
            max-width: 900px;
            text-align: center;
        }

        &-line{
            display: inline-block;
            width: 100%;
            height: 1px;
            background-color: color-white();
        }
    }
}

#wipe1 {
    stroke-dasharray: 3500;
    stroke-dashoffset: 3500;
    // animation: wipe 2s ease-in-out forwards;
    transform: translate(1%, 0%);
    scale: 0.95;
}

@keyframes wipe {
    to { stroke-dashoffset: 0; }
}