@use '../variable' as *;

.starting{
    position: relative;
    box-sizing: content-box;

    width: 100%;
    height: 100vh;
    color: color-white();
    border-bottom: 12px color-orange() solid;

    &__dropdown{

        &-menu{
            position: absolute;
            top: 100%;
            left: 0;

            width: 100%;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            background: color-black();

            border-radius: 0 0 6px 6px;
            border: 1px solid color-white();
            border-top: 0;

            z-index: 100;

            opacity: 0;
            visibility: hidden;
            pointer-events: none;

            transform: translateY(-10px);

            transition:
                opacity .25s ease,
                transform .25s ease,
                visibility .25s ease;

            &--open{
                opacity: 1;
                visibility: visible;
                pointer-events: all;

                transform: translateY(0);
            }
        }

        &-item{
            transition: .4s ease;

            background-color: color-orange(0);

            border: 0;
            padding: 16px;

            text-align: center;

            &:hover{
                background-color: color-orange(1);
                cursor: pointer;
            }

            @include tablet{
                width: 100%;
                font-size: $font-size-h3;
            }
        }
    }

    *{
        z-index: 2;
    }

    &__shadow{
        position: absolute;
        width: 100%;
        height: 100%;
        background: color-black();
        background: radial-gradient(at center, color-black() 30%, color-black(0));
        z-index: 1;
        scale: 1 1.5;
    }

    &__canvas{
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        z-index: -1;
    }

    &__menu{
        display: flex;
        position: absolute;

        width: max-content;

        top: 0;
        left: 50%;
        translate: -50% 0;

        &-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;

            color: color-white(.5);
            background-color: color-black(0);

            border: none;
            border-bottom: 1px solid color-white(.5);

            font-size: $font-size-menu;
            text-transform: uppercase;

            padding: 8px 16px;

            transition: .4s ease;

            &-corner{
                width: 15px;
                opacity: .5;

                transition: .4s ease;
            }

            &:hover{
                color: color-white();

                border-bottom: 1px solid color-orange();

                cursor: pointer;

                .starting__menu-btn-corner{
                    opacity: 1;
                }
            }
        }

        @include tablet{
            display: none;
        }
    }

    &-container{
        position: absolute;

        top: 50%;
        left: 50%;
        translate: -50% -50%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        gap: 8px;
    }

    &__subtitle{
        color: color-white(0.5);

        text-transform: uppercase;
        font-size: $font-size-text;

        margin-bottom: 16px;
    }

    &__logo{
        max-width: 460px;
        width: 100%;
    }

    &__title{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        text-align: center;
        color: color-white();

        &-text--mobile{
            display: none;
        }

        &-main{
            display: block;

            margin-top: 24px;

            font-size: 40px;
            font-weight: 400;
            line-height: 1.12;

            min-width: max-content;
        }

        &-second-line{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            margin-top: 10px;

            font-size: 26px;
            font-weight: 400;
            line-height: 1.2;

            color: color-white(.9);
        }

        &-transfer{
            display: flex;
            align-items: center;
            justify-content: center;

            overflow: hidden;

            min-width: 58px;
            height: 34px;

            background: color-gradient();
            border-radius: 16px 0 16px 0;
        }

        &-transfer-item{
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 0 13px;

            color: color-white();

            font-size: 21px;
            font-weight: 700;
            line-height: 1;

            white-space: nowrap;
        }
    }

    &__corner{
        position: absolute;

        right: 50%;
        bottom: 48px;
        translate: 50% 0;

        height: 24px;

        animation: 1.6s ease cornerMove infinite;

        @include phone{
            bottom: 20%;
        }
    }

    @keyframes cornerMove {
        0%{
            translate: 50% 0%;
        }

        50%{
            translate: 50% 100%;
        }

        100%{
            translate: 50% 0%;
        }
    }

    @include laptop {
        &-container{
            width: calc(100% - 16px * 2);
        }

        &__subtitle{
            margin-bottom: 8px;
            font-size: $font-size-subtext;
        }

        &__title{

            &-main{
                margin-top: 20px;

                font-size: 38px;
                min-width: auto;
            }

            &-second-line{
                font-size: 22px;
            }

            &-transfer{
                min-width: 52px;
                height: 32px;

                border-radius: 15px 0 15px 0;
            }

            &-transfer-item{
                padding: 0 12px;

                font-size: 20px;
            }
        }
    }

    @include tablet {
        &__title{

            &-main,
            &-second-line{
                display: none;
            }

            &-text--mobile{
                display: block;

                margin-top: 20px;
                margin-bottom: 32px;

                text-align: center;

                font-size: 28px;
                font-weight: 400;
                line-height: 1.25;
            }
        }
    }

    @include phone {
        &__logo{
            max-width: 300px;
        }

        &__title{

            &-text--mobile{
                font-size: 24px;
            }
        }
    }
}