@use '../../variable' as *;

.serverAdvantages{

    &__inner{
        padding: 48px 56px;

        @include laptop{
            padding: 40px;
        }

        @include tablet{
            padding: 32px 24px;
        }
    }

    &__head{
        margin-bottom: 60px;
    }

    &__title{
        max-width: 700px;
        margin-top: 20px;
    }

    &__grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;

        @include laptopL{
            grid-template-columns: repeat(2, 1fr);
        }

        @include tablet{
            grid-template-columns: 1fr;
        }
    }

    &__card{
        padding: 32px;

        background: color-white(.03);
        border: 1px solid color-white(.08);
        border-radius: 26px 0px 26px 0px;

        @include tablet{
            padding: 28px 24px;
        }

        &-title{
            margin-bottom: 16px;
        }

        &-text{
            color: color-gray();
            font-size: $font-size-subtext;
            line-height: 170%;
        }
    }
}
