.result{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10%;

    @include tablet{
        display: block;
    }

    @include tablet {
        grid-template-columns: 80% 20%; 

        .result{
            &__image{
                &-container{
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
    }

    @include phone {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__title{
        margin-bottom: 24px;

        @include phone {
            margin-bottom: 16px;
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 16px;
        
        list-style: none;
        padding-left: 48px;

        @include tablet{
            list-style: circle;
            padding-left: 24px;
        }
    }

    &-gecorate{
        display: flex;
        justify-content: end;
        max-height: 400px;

        @include tablet{
            display: none;
        }
    }

    &__image{
        height: calc(100% - 24px);
        translate: -20%;
        max-height: 400px;

        @include phone {
            height: 80%;
            translate: 0 0;
        }

        &-mask{
            height: 100%;

            display: flex;
            align-items: end;

            border-radius: 26px 0px 26px 0px;
            background-color: color-white();

            @include phone {
                justify-content: center;
            }
        }
    }
}